<connectionStrings>
  <add name="NorthwindDatabase"                 
    connectionString="data source = .; Initial Catalog =Northwind_CPSC1517; Integrated Security=true"
    providerName ="System.Data.SqlClient"/>
</connectionStrings>
<!-- The name of the Connection string 
      the location of the database (. means local host)
      the name of the database
      security
      type of database-->
