@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "CheckBoxes";
    
    
}
@section head
{
    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}
@section banner{
    <h1>CheckBoxes</h1>
}

    <form id="theform" method="post">
        <div class="row">
            <div class="col-md-offset-2">
                <label id="gamegroup">Select your favorite Gaming Platform</label>
                <br />
                <input type="checkbox" id="gamegroup" name="gamegroup" value="Ps4"  />PS4
                <br />
                <input type="checkbox" id="gamegroup" name="gamegroup" value="XBox1"  />Xbox One
                <br />
                <input type="checkbox" id="gamegroup" name="gamegroup" value="PC"  />PC
                <br />
                <input type="checkbox" id="gamegroup" name="gamegroup" value="NintendoSwitch" />Nintendo Switch
                <br />
                <input type="checkbox" id="gamegroup" name="gamegroup" value="Cell"/>Cell Phone
                <br />
                <input type="checkbox" id="gamegroup" name="gamegroup" value="Ipad" />Ipad
                <br />
                <br />
              
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3">
                <button type="submit" class="btn btn-primary" id="formbutton" name="formbutton" value="submit">Submit</button>
            </div>
        </div>
    </form>